absl-py
albumentations
appdirs
arrow
asttokens
cachetools
certifi
charset-normalizer
click
codecarbon
comm
contourpy
cycler
debugpy
decorator
docker-pycreds
efficientnet-pytorch
exceptiongroup
executing
filelock
fonttools
fsspec
gitdb
GitPython
google-auth
google-auth-oauthlib
grpcio
huggingface-hub
idna
imageio
ipykernel
ipython
ipywidgets
jedi
Jinja2
joblib
jupyter_client
jupyter_core
jupyterlab-widgets
kiwisolver
lazy_loader
lightning-utilities
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mpmath
munch
nest-asyncio
networkx
numpy
oauthlib
opencv-python
opencv-python-headless
packaging
pandas
parso
patchify
pexpect
Pillow
platformdirs
pretrainedmodels
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
py-cpuinfo
pyasn1
pyasn1-modules
Pygments
pynvml
pyparsing
python-dateutil
pytz
PyYAML
pyzmq
qudida
rapidfuzz
requests
requests-oauthlib
rsa
safetensors
scikit-image
scikit-learn
scipy
segmentation-models-pytorch
sentry-sdk
setproctitle
six
smmap
stack-data
sympy
tensorboard
tensorboard-data-server
threadpoolctl
tifffile
timm
torch
torch-tb-profiler
torchaudio
torchinfo
torchmetrics
torchvision
tornado
tqdm
traitlets
types-python-dateutil
typing_extensions
tzdata
urllib3
wandb
wcwidth
Werkzeug
widgetsnbextension
